.text-center {
  text-align: center;
}

.no-bg {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin: 0 4px;
}
